.vscode/**
.vscode-test/**
out/test/**
src/**
tests/**
test-files/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
*.vsix
tmp/**
.github/**
.lingma/**
*.md
docs/**
.eslintcache
.git-commit-msg.txt
.gitmessage
debug-typedef.js
test_debug.js
